
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.693)), url('../../image/background-home.jpg');
    background-size: cover;
    position: relative;
}

.form{
    background-color: var(--white);
    width: 600px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 25px 0 var(--background-green);
    color: var(--white);
    background-color: var(--background-color-black);
    position: relative;
}

.title{
    top: 40px;
    margin-top: 20px;
}

.form1{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.input{
    width: 400px;
    height: 25px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.description{
    width: 400px;
    height: 55px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}


.titleGenre{
    text-align: center;
  
}

.select{
    margin: 5px;
}

.form2{
    width: 400px;
    height: auto;
    text-align: center;
}


.box{
    margin: 5px;
}

.buttonSubmit{
    margin-top: 20px;
    height: auto;
    padding: 5px;
    font-weight: bold;
    color: var(--white);
    border: none;
    border: 1px solid var(--background-green);
    background-color: var(--background-color-black);
    box-shadow: 0 0 10px 0 var(--background-green);
}


.buttonSubmit:hover{
    box-shadow: 0 0 20px 0 var(--background-green);

}



.navLinkBack{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navLinkBack:hover{
    box-shadow: 0 0 20px 0 white;
} 

.imgBack{
    width: 30px;
    height: auto;
    margin-right: 3px;
}

.error{
    color: red;
    font-size: small;
    font-weight: bold;
}

.divError{
    min-height: 15px;
}